@import '../../Common/common.scss';

.loading {
    margin-top: resize(160);
}
.loadmore{
    margin-top: resize(80);
}
.loadbox{
    text-align: center;
    margin: 8px auto;
}
.footer{
    font-weight: 400;
    line-height: 16px;
}