@import '/src/Common/common.scss';

.invitation {
    margin: auto;
    width: 70%;
    margin-top: 120px;
    margin-bottom: 120px;

    @media (max-width: 768px) {
        width: 100%;
        padding: 15px 15px 20px 20px;
        margin-top: 90px;
    }
}

.invarianttop {
    display: flex;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.invariantleft {
    width: resize(503);

    @media (max-width: 768px) {
        width: auto;
    }
}

.invarianttopinfomation {
    display: flex;
}

.invariantright {
    flex: 1;
    margin-left: resize(158.5);

    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.invitImg {
    width: resize(160);
    height: resize(160);

    img {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 768px) {
        width: 81px;
        height: 81px;

        img {
            width: 100%;
            height: 100%;
        }
    }

}

.invitationcont {
    margin-top: resize(40);

    @media (max-width: 768px) {
        margin-top: 24px;
    }
}

.invittitle {
    margin-left: resize(18);
}

.invitspan {
    font-weight: 900;
    font-size: resize(36);
    color: #EF8339;
    font-family: ProductSansBlack;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.income {
    font-weight: 900;
    font-size: resize(36);
    color: #202020;
    font-family: ProductSansBlack;
    margin-top: resize(20);

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.invariantdestir {
    margin-top: resize(36);
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: resize(36);
    font-size: resize(20);
    font-weight: 400;
    font-family: ProductSans;
    color: #90949A;

    @media (max-width: 768px) {
        border-bottom: none;
        font-size: 12px;
        padding-bottom: 0;
        line-height: 18px;
        margin-top: 16px;
    }
}

.note {
    margin-top: resize(36);
    color: #EF8339;
    font-size: resize(20);
    font-weight: 400;

    @media (max-width: 768px) {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 16px;
        line-height: 18px;
    }
}

.righttitle {
    background: #000000;
    box-shadow: 0px 3px 12px 0px rgba(61, 56, 56, 0.15);
    border-radius: resize(24);
    padding: resize(24);
}

.righttop {
    display: flex;
    padding-bottom: resize(16);
}

.rightborrder {
    height: 1px;
    background: rgba(238, 238, 238, 1);
    opacity: 0.1;
}

.rightItem {
    display: flex;
    flex-direction: column;
}

.itemtitle {
    color: #FFFFFF;
    font-size: resize(16);
    font-weight: 400;

    @media (max-width: 768px) {
        font-size: 10px;
    }

}

.itemcont {
    color: #FFFFFF;
    font-size: resize(21);
    font-weight: 600;
    margin-top: resize(5);

    @media (max-width: 768px) {
        font-size: 14px;
    }

}

.rightcont {
    margin-top: resize(16);
    color: #FFFFFF;
    font-size: resize(16);
    font-weight: 400;

    @media (max-width: 768px) {
        font-size: 10px;
    }
}

.rightfooter {
    color: #EF8339;
    font-size: resize(21);
    font-weight: 600;
    font-family: Poppins;
    margin-top: resize(10);

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.invariantlink {
    margin-top: resize(25);

    @media (max-width: 768px) {
        margin-top: 24px;
    }
}

.invariantlinktitle {
    color: #000000;
    font-size: resize(21);
    font-weight: 500;
    font-family: ProductSansMedium;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.link {
    display: flex;
    border: 1px solid #E5E5E5;
    border-radius: resize(12);
    padding: resize(16) resize(18);
    margin-top: resize(15);
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        padding: 10px 14px;
    }
}

.linkcont {
    color: #90949A;
    font-family: ProductSansMedium;
    font-size: resize(14);
    font-weight: 500;
    width: 440px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


    @media (max-width: 768px) {
        font-size: 14px;
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.linkcopy {
    width: resize(30);
    height: resize(30);
    cursor: pointer;
    margin-left: 10px;

    img {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 768px) {
        width: 20px;
        height: 20px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.invariantbtn {
    width: 100%;
    height: resize(62);
    padding: resize(16) resize(131);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EF8339;
    color: #FFFFFF;
    font-family: ProductSansMedium;
    font-size: resize(20);
    font-weight: 500;
    margin-top: resize(48);
    border-radius: resize(12);
    cursor: pointer;

    @media (max-width: 768px) {
        margin-top: 24px;
        font-size: 16px;
    }
}

.cont {
    margin-top: resize(24);
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }
}

.invitationItem {
    background: #F5F5F5;
    padding: resize(16) resize(30);
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: resize(12);

    @media (max-width: 768px) {
        margin-top: 16px;
        padding: 12px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.invitationItem:nth-child(2) {
    margin: 0 resize(13);

    @media (max-width: 768px) {
        margin: 16px 0 0 0;
    }
}

.invitationItemTop {
    color: #3F3E3D;
    font-size: resize(18);
    font-weight: 400;
    font-family: ProductSans;
    display: flex;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.invitationItemnumber {
    margin-top: resize(24);
    color: #3F3E3D;
    font-family: ProductSansBlack;
    font-weight: 900;
    font-size: resize(21);

    @media (max-width: 768px) {
        margin-top: 0;
        font-size: 14px;
    }
}

.rewarddetails {
    margin-top: resize(48);

    @media (max-width: 768px) {
        margin-top: 24px;
    }
}

.rewarddetailstitle {
    font-family: ProductSansBlack;
    font-size: resize(24);
    font-weight: 900;
    color: #202020;

    @media (max-width: 768px) {
        margin-top: 18px;
    }
}

.rewardcont {
    margin-top: resize(36);

    @media (max-width: 768px) {
        margin-top: 18px;
    }

    :global {
        .ant-tabs-nav::before {
            border: none !important;
        }

        .ant-tabs-tab:hover {
            color: none;
        }

        .ant-tabs-tab-btn {
            color: #90949A;
        }

        .ant-tabs-tab-active .ant-tabs-tab-btn {
            color: #000000 !important;

        }

        .ant-tabs-ink-bar {
            background: #EF8339 !important;

        }

    }
}

.tip {
    width: resize(18);
    height: resize(18);
    margin-left: resize(12);
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 768px) {
        width: 12px;
        height: 12px;
        margin-left: 8px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.tiptext {
    font-family: ProductSans;
    color: #FFFFFF;
    font-size: resize(12);
    font-weight: 400;
    padding: resize(8) resize(12);

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.not {
    height: resize(379);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nodata {
    width: resize(200);
    height: resize(200);

    img {
        width: 100%;
        height: 100%;
    }
}

.notext {
    font-family: ProductSans;
    color: #90949A;
    font-size: resize(18);
    font-weight: 400;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.invitationconttitle {
    font-size: resize(24);
    font-weight: 900;
    color: #202020;
    font-family: ProductSansBlack;

    @media (max-width: 768px) {
        font-size: 18px;

    }
}

.awardtable {
    :global {

        .ant-table-tbody>tr>td {
            border-bottom: none !important;
        }

        .ant-table-cell:before {
            background: none;
        }

        .ant-table-thead .ant-table-cell {
            background: #F5F5F5 !important;
            border-bottom: none !important;
            color: #3F3E3D !important;
            font-family: ProductSans !important;
            font-size: resize(18) !important;
            font-weight: 400 !important;
        }

        .ant-table-thead>tr>th::before {
            background-color: #F5F5F5 !important;
        }

        .ant-table-cell-row-hover {
            background: none !important;
        }

        .ant-table-thead .ant-table-cell:first-child {
            border-start-start-radius: resize(0) !important;
            border-bottom-left-radius: resize(0) !important;
        }

        .ant-table-thead .ant-table-cell:last-child {
            border-start-end-radius: resize(0) !important;
            border-bottom-right-radius: resize(0) !important;
        }
    }

}

.invitationrecord {
    :global {

        .ant-table-tbody>tr>td {
            border-bottom: none !important;
        }

        .ant-table-cell:before {
            background: none;
        }

        .ant-table-thead .ant-table-cell {
            background: #F5F5F5 !important;
            border-bottom: none !important;
            color: #3F3E3D !important;
            font-family: ProductSans !important;
            font-size: resize(18) !important;
            font-weight: 400 !important;
        }

        .ant-table-thead>tr>th::before {
            background-color: #F5F5F5 !important;
        }

        .ant-table-cell-row-hover {
            background: none !important;
        }

        .ant-table-thead .ant-table-cell:first-child {
            border-start-start-radius: resize(0);
            border-bottom-left-radius: resize(0);
        }

        .ant-table-thead .ant-table-cell:last-child {
            border-start-end-radius: resize(0);
            border-bottom-right-radius: resize(0);
        }
    }

}