@import 'src/Common/common.scss';

.swapview {
    border: 1px solid #E5E5E5;
    border-radius: resize(12);
    padding: resize(24) resize(18);

    @media screen and (max-width:768px) {
        border: none;
        padding: 16px 12px;

    }
}


.swaptitle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: resize(24);

    @media screen and (max-width:768px) {
        padding-bottom: 16px;

    }
}

.swaipleft {
    color: #000000;
    font-family: ProductSansMedium;
    font-size: resize(28);
    font-weight: 500;

    @media screen and (max-width:768px) {
        font-size: 16px;
    }
}

.swaipright {
    display: flex;
    cursor: pointer;
}

.moremode {
    color: #EF8339;
    font-family: ProductSans;
    font-size: resize(18);
    font-weight: 400;
    display: flex;
    align-items: center;
    @media screen and (max-width:768px) {
        font-size: 12px;
    }
}

.moreIcon {
    margin-left: resize(12);
    width: resize(24);
    height: resize(24);

    img {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width:768px) {
        margin-left: 8px;
        width: 16px;
        height: 16px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.modeItem {
    margin-top: resize(24);

    @media screen and (max-width:768px) {
        margin-top: 16px;
    }
}

.modeItemlabel {
    font-family: ProductSans;
    font-size: resize(20);
    font-weight: 400;
    color: #202020;

    @media screen and (max-width:768px) {
        font-size: 14px;

    }
}

.modeItemValue {
    font-family: ProductSans;
    font-size: resize(24);
    font-weight: 700;
    color: #202020;

    @media screen and (max-width:768px) {
        font-size: 14px;

    }
}

.swapcont {
    margin-top: resize(16);

    :global {
        .ant-tabs-nav::before {
            border: none !important;
        }

        .ant-tabs-tab:hover {
            color: none;
        }

        .ant-tabs-tab-btn {
            color: #90949A;
        }

        .ant-tabs-tab-active .ant-tabs-tab-btn {
            color: #000000 !important;

        }

        .ant-tabs-ink-bar {
            background: #EF8339 !important;

        }

        .ant-table-tbody>tr>td {
            border-bottom: none !important;
        }
     
        .ant-checkbox-inner {
            border-color: #EF8339;
        }

        .ant-checkbox-inner {
            border-color: #EF8339;
        }

        .ant-checkbox-wrapper:hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
            border-color: #EF8339;
            background-color: #EF8339;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            border-color: #EF8339;
            background-color: #EF8339;
        }

        .ant-checkbox-wrapper:hover .ant-checkbox-inner,
        .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
            border-color: #EF8339;
        }
        .ant-table-row.ant-table-row-selected >.ant-table-cell{
            background: none !important;
        }
        .ant-table-thead .ant-table-cell {
            background: none !important;
            border-bottom: 1px solid #E5E5E5 !important;
            color: #90949A !important;
            font-family: ProductSans !important;
            font-size: resize(18) !important;
            font-weight: 400 !important;
        }

        .ant-table-thead>tr>th::before {
            background-color: #FFFFFF !important;
        }
        .ant-table-cell-row-hover{
            background: none !important;
        }
    }

    @media screen and (max-width:768px) {
        display: none;
    }
}


.saleValue {
    display: flex;
    cursor: pointer;
}

.saletext {
    font-size: resize(18);
    font-weight: 400;
    color: #EF8339;
    font-family: ProductSans;

    @media screen and (max-width:768px) {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

}

.salelabel {
    color: #000000;
    font-family: ProductSansMedium;
    font-size: resize(20);
    font-weight: 500;

    @media screen and (max-width:768px) {
        font-size: 16px;
    }
}

.SaleBtn {
    border: 1px solid #E5E5E5;
    padding: resize(12);
    border-radius: resize(8);
    width: resize(386) !important;

    @media screen and (max-width:768px) {
        border: none;
        width: 100% !important;
        padding: 0;

    }

}

.ResaleBtn {
    border: 1px solid #E5E5E5;
    padding: resize(12);
    border-radius: resize(8);
    width: resize(386) !important;

    @media screen and (max-width:768px) {
        border: none;
        width: 100% !important;
        padding: 0;

    }

}

.resaletext {
    font-size: resize(18);
    font-weight: 400;
    color: #EF8339;
    font-family: ProductSans;

    @media screen and (max-width:768px) {
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}

.resalelabel {
    color: #000000;
    font-family: ProductSansMedium;
    font-size: resize(20);
    font-weight: 500;

    @media screen and (max-width:768px) {
        font-size: 16px;
    }
}

.resaleValue {
    display: flex;
    cursor: pointer;

}

.moderesale {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.06);
    padding: resize(32) resize(36);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.moderesaleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ProductSansMedium;
    font-size: resize(20);
    font-weight: 500;
    width: resize(215);
    height: resize(50);
    border-radius: resize(12);
}

.action {
    display: flex;
}

.tabsalebtn {
    padding: resize(12) resize(30);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: resize(8);
    background: #EF8339;
    color: #FFFFFF;
    font-size: resize(20);
    font-weight: 500;
    font-family: ProductSansMedium;
    cursor: pointer;
    height: resize(48);
}
.tabsalebtn:hover{
    color: #EF8339;
    outline: 1px solid #EF8339;
    background: none;
}
.resaleben {
    margin-left: resize(36);
    padding: resize(12) resize(30);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: resize(8);
    font-size: resize(20);
    font-weight: 500;
    font-family: ProductSansMedium;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000000;
    height: resize(48);


}

.collect {
    display: flex;

}

.collectImg {
    width: resize(64);
    height: resize(64);
    border-radius: resize(8);
  overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
  border-radius: resize(8);

}

.infocolum {
    display: flex;
    flex-direction: column;
    margin-left: resize(12);
    justify-content: space-evenly;
}

.infoname {
    font-size: resize(16);
    font-weight: 400;
    color: #3F3E3D;
    font-family: ProductSans;
}

.infonumber {
    font-size: resize(20);
    font-weight: 500;
    color: #000000;
    font-family: ProductSansMedium;
    @media screen and (max-width:768px) {
      font-size: 16px;
    }
}

.preprie {
    display: flex;
    flex-direction: column;
}

.pricetop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.priceIcon {
    width: resize(24);
    height: resize(24);
    margin-right: resize(5);
    img {
        width: 100%;
        height: 100%;
    }
}

.prievalue {
    color: #202020;
    font-weight: 500;
    font-size: resize(20);
    font-family: ProductSansMedium;

}

.priebot {
    font-weight: 400;
    font-size: resize(18);
    font-family: ProductSansMedium;
    color: #90949A
}

.number {
    display: flex
}

.numberImg {
    width: resize(18);
    height: resize(18);

    img {
        width: 100%;
        height: 100%;
    }
}

.numbervalue {
    margin-left: resize(6);
    font-weight: 400;
    font-size: resize(18);
    font-family: ProductSans;
    color: #000000;
}

.timer {
    display: flex
}

.timerImg {
    width: resize(18);
    height: resize(18);

    img {
        width: 100%;
        height: 100%;
    }
}

.timervalue {
    margin-left: resize(6);
    font-weight: 400;
    font-size: resize(18);
    font-family: ProductSans;
    color: #000000;
}


.mobTab {
    display: none;

    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
    }
}

.mobTabtitle {
    @media screen and (max-width:768px) {
        display: flex;
        border-bottom: 0.5px solid #F4F7F9;
        border-top: 0.5px solid #F4F7F9;
        justify-content: space-between;
    }
}

.mobTabItem {
    @media screen and (max-width:768px) {
        padding: 17px 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
}

.mobilecontSale {
    @media screen and (max-width:768px) {
        margin-top: 16px;
    }
}

.mobilecontresale {
    @media screen and (max-width:768px) {
        margin-top: 16px;
        // padding: 0 12px;
    }
}

.mobilesalecont {
    @media screen and (max-width:768px) {
        margin-top: 16px;
    }
}

.mobileresalecont {
    @media screen and (max-width:768px) {
        margin-top: 16px;
    }
}

.mobilecontheader {
    @media screen and (max-width:768px) {
        display: flex;
        background: #F4F7F9;
        padding: 12px;
        border-radius: 8px;
        width: 100%;
    }
}

.mobilecontd {
    @media screen and (max-width:768px) {
        font-size: 12px;
        font-weight: 400;
        color: #202020;
        font-family: ProductSans;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;
    }
}

.mobilecontd:nth-child(2) {
    @media screen and (max-width:768px) {
      justify-content: center;
    }
}
.mobilecontd:nth-child(3) {
  @media screen and (max-width:768px) {
    justify-content: center
  }
}

.mobilesaleItem {
    @media screen and (max-width:768px) {
        display: flex;
        border-bottom: 1px solid #F5F5F5;
        padding: 0 12px;
        padding-bottom: 12px;
    }
}

.mobdetail {
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        flex: 1;
    }
}

.mobdetiltop {
    @media screen and (max-width:768px) {
        display: flex;

    }
}

.ItemImg {
    @media screen and (max-width:768px) {
        width: 44px;
        height: 44px;
        img {
            width: 100%;
            height: 100%;
        border-radius: 4px;

        }
    }
}

.Itemtext {
    @media screen and (max-width:768px) {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.Itemtextdesc {
    @media screen and (max-width:768px) {
        font-size: 12px;
        font-weight: 400;
        color: #3F3E3D;
        font-family: ProductSans;
    }
}

.Itemtextname {
    @media screen and (max-width:768px) {
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        font-family: ProductSansMedium;
        margin-top: 8px;
    }
}

.mobdetilbot {
    @media screen and (max-width:768px) {
        display: flex;
        margin-top: 8px;
    }
}

.mobdetailcheck {
    @media screen and (max-width:768px) {
        width: 12px;
        height: 12px;
        display: flex;

        img {
            width: 100%;
            height: 100%;
        }
    }

}

.mobdetilbotleft {
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        // width: 64px;
    }

}

.mobdetailcheckvalue {
    @media screen and (max-width:768px) {
        margin-left: 4px;
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        font-family: ProductSans;
    }

}

.mobdetailtimer {
    @media screen and (max-width:768px) {
        display: flex;
        margin-left: resize(16);
    }

}

.mobdetailtimericon {
    @media screen and (max-width:768px) {

        width: 12px;
        height: 12px;
        display: flex;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.mobdetailtimervalue {
    @media screen and (max-width:768px) {
        margin-left: 4px;
        font-size: 12px;
        font-weight: 400;
        color: #000000;
        font-family: ProductSans;
    }
}


.mobileprice {
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 16px;
        align-items: center;
    }
}

.mobilepriceImg {
    @media screen and (max-width:768px) {
        width: 16px;
        height: 16px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.mobilepricetext {
    @media screen and (max-width:768px) {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        font-family: ProductSansMedium;
        margin-top: 8px;
    }
}

.mobileaction {
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
        margin-top: 16px;

    }
}

.mobileshow {
    @media screen and (max-width:768px) {
        background: #EF8339;
        border-radius: 8px;
        color: #FFFFFF;
        padding: 8px 12px 7px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: ProductSans;

    }
}

.mobileextract {
    @media screen and (max-width:768px) {
        border-radius: 8px;
        color: #000000;
        padding: 8px 12px 7px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: ProductSans;
        border: 1px solid #000000;
        margin-top: 8px;
    }
}

.mobileresale {
    @media screen and (max-width:768px) {
        display: flex;
        border-bottom: 1px solid #F5F5F5;
        padding: 12px 12px;
    }
}

.mobileresaledetail {
    @media screen and (max-width:768px) {

        display: flex;

    }
}

.mobiledetailImg {
    @media screen and (max-width:768px) {
        width: 44px;
        height: 44px;
        display: flex;
        margin-bottom: 5px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }

}

.mobledetailinfo {
    @media screen and (max-width:768px) {
        flex: 1;

        display: flex;
        flex-direction: column;
        margin-left: 12px;
    }
}

.mobledetailinfo_top {
    @media screen and (max-width:768px) {
        color: #3F3E3D;
        font-family: ProductSans;
        font-size: 12px;
        font-weight: 400;
    }

}

.mobledetailinfo_bot {
    @media screen and (max-width:768px) {
        margin-top: 6px;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        font-family: ProductSansMedium;
    }
}

.mobilerepice {
    @media screen and (max-width:768px) {
        flex: 1;
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
}

.mobileselect {
    @media screen and (max-width:768px) {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        :global {
            .ant-checkbox-inner {
                border-color: #EF8339;
            }

            .ant-checkbox-inner {
                border-color: #90949A;
                border-radius: 50%;
            }

            .ant-checkbox-wrapper:hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
                border-color: #EF8339;
                background-color: #EF8339;
            }

            .ant-checkbox-checked .ant-checkbox-inner {
                border-color: #EF8339;
                background-color: #EF8339;
            }

            .ant-checkbox-wrapper:hover .ant-checkbox-inner,
            .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
                border-color: #EF8339;
            }
        }
    }
}

.mobileresales {
    @media screen and (max-width:768px) {
        position: fixed;
        background: #FFFFFF;


        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.mobileresalesbtn {
    @media screen and (max-width:768px) {
        background: #EF8339;
        color: #FFFFFF;
        margin: 24px 20px 25px 20px;
        padding: 12px 60px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.mobileAll{
    @media screen and (max-width:768px) {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }
}

.mobilerow{
    @media screen and (max-width:768px) {
        color: #000000;
        font-weight: 900;
        font-family: ProductSansBlack;
        font-size: 16px;
    }
}
.mbileallcheck{
    @media screen and (max-width:768px) {
        display: flex;
        margin-right: 5px;
    :global {
        .ant-checkbox-inner {
            border-color: #EF8339;
        }

        .ant-checkbox-inner {
            border-color: #90949A;
            border-radius: 50%;
        }

        .ant-checkbox-wrapper:hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
            border-color: #EF8339;
            background-color: #EF8339;
        }

        .ant-checkbox-checked .ant-checkbox-inner {
            border-color: #EF8339;
            background-color: #EF8339;
        }

        .ant-checkbox-wrapper:hover .ant-checkbox-inner,
        .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
            border-color: #EF8339;
        }
    }

}
}
.mbileallchecktext{
    @media screen and (max-width:768px) {
    margin-right: 8px;
    color:#9E9C9B;
    font-size: 16px;
    font-weight: 400;
    font-family: ProductSansMedium;
}
}

.mobilerepicetop{
  
    @media screen and (max-width:768px) {
        display: flex;
        width: 16px;
        height: 16px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.mobilerepicebot{
    font-size: 14px;
    font-weight: 400;
    font-family: ProductSansMedium;
    color: #000000;
}
.pageVeiw {
  margin-top: resize(20);
  @media screen and (max-width:768px) {
    margin-top: 10px;
  }

}
.pageTitle {
  font-size: 14px;
  font-weight: 400;
  font-family: ProductSansMedium;
  color: #EF8339;
  margin-left: resize(20);
  cursor: pointer;
}
.pageTitleDis {
  color: #90949A;
  cursor:not-allowed
}
.Nirvana {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-family: ProductSansMedium;
  background: #EF8339;
  margin-left: resize(24);
  padding: resize(8) resize(12);
  border-radius: resize(8);
  cursor: pointer;
  @media screen and (max-width:768px) {
    font-size: 10px;
    margin-left: 12px;
    padding: 4px 6px;
    border-radius: resize(4);
  }
}
.NirvanaDis {
  background: #E5E5E5;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-family: ProductSansMedium;
  margin-left: resize(24);
  padding: resize(8) resize(12);
  border-radius: resize(8);
  cursor: pointer;
  @media screen and (max-width:768px) {
    font-size: 10px;
    margin-left: 12px;
    padding: 4px 6px;
    border-radius: resize(4);
  }
}