@import 'src/Common/common.scss';

.swiper {
    width: 100%;
    height: 100%;
    border-radius: resize(8);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-wrapper {
    height: resize(400);
}

.swiper-pagination-bullet {
    width: resize(13);
    height: resize(13);
    border: 1px solid #FFFFFF;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #FFFFFF;

}