@import 'src/Common/common.scss';


.nfttitle {
    display: flex;
    justify-content: space-between;
}

.InforImg {
    width: resize(108);
    height: resize(108);
    margin-right: resize(24);

    img {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        width: 40px;
        height: 40px;
        margin-right: 12px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.Inforcont {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {}
}

.Infotitle {
    font-size: resize(18);
    font-weight: 900;
    font-family: ProductSansBlack;
    color: #202020;

    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.InforBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoaddressIcon {
    width: resize(18);
    height: resize(18);

    img {
        width: 100%;
        height: 100%;
    }
}

.Infoaddress {
    color: #3F3E3D;
    font-family: ProductSansMedium;
    font-size: resize(16);
    font-weight: 500;
    margin-top: 5px;
    margin-right: resize(12);

    @media (max-width: 768px) {
        font-size: 12px;
        margin-right: 6px
    }
}

.copy {
    width: resize(20);
    height: resize(20);
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 768px) {
        width: 16px;
        height: 16px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.nftcont {
    margin-top: resize(48);
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(5, 1fr);

    @media(min-width:1000px) and (max-width:1300px) {
        grid-gap: 18px;
        grid-template-columns: repeat(5, 1fr);
    }

    @media(min-width:654px) and (max-width:999px) {
        grid-gap: 18px;
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 654px) {
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.Itemcon {
    padding: resize(12);

    @media (max-width: 768px) {
        margin-left: 0;
        padding: 14px
    }
}

.nftItem {
    border-radius: resize(32);
    border: 1px solid #F5F5F5;

    @media (max-width: 768px) {
        padding: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}

.nftImg {
    width: auto;
    height: auto;
    border-top-right-radius: resize(12);
    border-top-left-radius: resize(12);

    img {
        width: 100%;
        height: 100%;
        border-top-right-radius: resize(12);
        border-top-left-radius: resize(12);
    }

    @media (max-width: 768px) {
        width: auto;
        height: auto;
        border-top-right-radius: resize(12);
        border-top-left-radius: resize(12);

        img {
            width: 100%;
            height: 100%;
            border-top-right-radius: resize(12);
            border-top-left-radius: resize(12);
        }
    }
}

.nfttitle {
    font-size: resize(24);
    font-weight: 500;
    color: #000000;
    font-family: ProductSansMedium;

    @media (max-width: 768px) {
        font-size: resize(21);

    }

    @media(min-width:654px) and (max-width:999px) {
        font-size: resize(20);
    }
}




.pre {
    display: flex;
    margin-top: resize(11);

    @media screen and (max-width: 768px) {
        margin-top: 12px;
    }
}

.presalePrice {
    font-size: resize(20);
    font-weight: 400;
    font-family: ProductSans;
    color: #3F3E3D;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.presalevalue {
    color: #FF7C1A;
    font-weight: 900;
    font-size: resize(24);
    font-family: ProductSansBlack;
    display: flex;
    align-items: center;
    margin-left: resize(9);

    @media screen and (max-width: 768px) {
        font-size: 18px;
        margin-left: 6px;
    }
}

.origin {
    margin-top: resize(12);
    padding-bottom: resize(16);
    display: flex;

    @media screen and (max-width: 768px) {
        margin-top: 9px;
        padding-bottom: 12px;
    }

}

.originalprice {
    color: #3F3E3D;
    font-weight: 400;
    font-size: resize(20);
    font-family: ProductSans;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        font-weight: 400;
        font-size: 12px;
    }
}

.originvalue {
    color: #90949A;
    font-weight: 500;
    font-size: resize(21);
    font-family: ProductSansMedium;
    display: flex;
    align-items: center;
    margin-left: resize(10.5);
    text-decoration: line-through;

    @media screen and (max-width: 768px) {
        font-size: 14px;
        margin-left: 6px;
    }
}

.integral {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        margin-left: 10px;
    }
}

.integraltitle {
    color: #90949A;
    font-weight: 400;
    font-size: resize(15);
    font-family: ProductSans;

    @media screen and (max-width: 768px) {
        font-size: 10px;
    }
}

.integralvalue {
    color: #90949A;
    font-weight: 700;
    font-size: (18);
    font-family: ProductSans;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.line {
    width: 100%;
    height: 1px;
    background: #F5F5F5;
    margin: resize(10) 0;
}

.claimButtton {
    border-radius: resize(8);
    background: var(--primary-orange, #EF8339);
    height: resize(30);
    color: #fff;
    font-weight: 700;
    font-size: (18);
    font-family: ProductSans;
    padding: 0 resize(30);
    width: fit-content;
    cursor: pointer;
}

.claimButtton:hover {
    background: transparent;
    border: 1px solid #EF8339;
    color: #EF8339;
}