@import 'src/Common/common.scss';

.pointsTrading{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
    }
}