@import 'src/Common/common.scss';
.headerMain {
  background-color: rgba(10, 12, 26, 0.5);
  width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: 768px) {
    background-color: #100F16;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 1001;

  @media screen and (max-width: 768px) {
    z-index: 999;
  }
}

.headerView {
  // min-width: 1800px;
  width: 100%;
  height: $header_height;
  display: flex;
  background: #FFFFFF;
  padding: resize(14) resize(36);
  align-items: center;
  @media screen and (max-width: 768px) {
    // height:$header_height_mobile;
    min-width: auto;
    padding: 10px 10px 10px 15px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  width: resize(80);
  height: resize(40);
  position: relative;
  cursor: pointer;
  img{
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 768px) {
    // width: 202px;
    // // height:$header_height_mobile;
  }

  @media screen and (min-width: 768px) and (max-width: 1300px) {
    width: resize(80);
    height: resize(40);
    position: relative;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.menu {
  // width: $header_height_mobile;
  // height:$header_height_mobile;
  position: relative;
  cursor: pointer;
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.commicon {
  width: resize(24);
  height: resize(24);
  position: relative;
  margin-right: resize(8);
}

.text {
  color: #E2DFFF;
  font-size: resize(14);
  font-weight: 500;
}

.commView {
  cursor: pointer;
}

.webItemView {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    display: none
  }
}

.webItemText {
  color: #E2DFFF;
  font-size: resize(24);
  font-weight: 500;
  margin-left: resize(100);
  cursor: pointer;

  @media screen and (max-width: 800px) {
    margin-left: resize(50);
  }
}

.chooseText {
  color: #fff
}

.unChoose {
  color: #7C789B
}