@font-face {
  font-family: 'PaladinsExpanded4';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/PaladinsExpanded.ttf") format('truetype');
}

@font-face {
  font-family: 'LexendBlack';
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/Lexend-Black.ttf") format('truetype');
}
@font-face {
  font-family: 'LexendExtraBold';
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/Lexend-ExtraBold.ttf") format('truetype');
}
@font-face {
  font-family: 'LexendBold';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Lexend-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'LexendSemiBold';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Lexend-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'LexendMedium';
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Lexend-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'LexendRegular';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Lexend-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'LexendLight';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Lexend-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'LexendExtraLight';
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/Lexend-ExtraLight.ttf") format('truetype');
}
@font-face {
  font-family: 'LexendThin';
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/Lexend-Thin.ttf") format('truetype');
}
@font-face {
  font-family: 'ProductSansMedium';
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/ProductSans-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'ProductSansBlack';
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/ProductSans-Black.ttf") format('truetype');
}
@font-face {
  font-family: 'ProductSansBold';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ProductSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'ProductSansRegular';
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/ProductSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'ProductSans';
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/ProductSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/ProductSans-Italic.ttf") format('truetype');
}



/**
100  Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Regular (Normal、Book、Roman)
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/
body {
  background: #FFFFFF;
}

#root{
  height: 100%;
}
